---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const posts = await getCollection('posts');
---
<BaseLayout>
  <div class="posts">
    {
      posts.map((post: any) => (
        <a class="post" href={`/posts/${post.id}`}>
          <Image src={post.data.hero} alt="A description of my image." />
          <div class="score">80</div>
          <div class="info">
            <div class="type">Recensione</div>
            <div class="title">{post.data.title}</div>
            <div class="date">14 Marzo 2026</div>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
<style>
  .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .post {
    position: relative;
  }

  .post .info {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
  }

  .post .info .type {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 0.6rem;
    padding: 0.1rem;
    background: white;
    color: black;
    margin-bottom: 0.5rem;
  }

  .post .info .title {
    font-weight: 900;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 1.2rem;
  }

  .post .info .date {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 0.6rem;
    font-weight: 500;
  }

  .post .score {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    font-weight: 900;
    font-size: 0.7rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post img {
    width: 100%;
    height: 100%;
  }
</style>
