---
import '@fontsource-variable/inter/wght.css';
---
<html>
  <body>
    <h1>I'm no critic</h1>
    <h2>Coming soon...</h2>
  </body>
</html>
<style>
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Inter Variable', sans-serif;
    background: rgb(220, 220, 220);
  }

  h2 {
    font-weight: lighter;
  }

  h1, h2 {
    margin: 0;
  }
</style>
