---
import "@fontsource-variable/inter/wght.css";
import '@fontsource/micro-5';
import { Image } from 'astro:assets';
import logo from '../layout-images/logo.png';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
       <button class="hamburger">
        ☰
      </button>
      <div class="content">
        <a class="title" href="/">
          <Image src={logo} alt="Site logo" />
          <span>I'm <mark>no</mark> critic</span>
        </a>
        <nav>
          <a href="/">Home page</a>
          <a href="/about">Filosofia di questo sito</a>
        </nav>
      </div>
    </header>
    <div class="sheet">
      <div class="content">
        <slot />
      </div>
    </div>
  </body>
  <script>
    const hamburger = document.querySelector('.hamburger')!;
    const nav = document.querySelector('nav')!;

    hamburger.addEventListener('click', () => {
      nav.classList.toggle('open');
    });
  </script>
  <style>
    html {
      font-size: 16px;
    }

    body {
      font-family: "Inter Variable", sans-serif;
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgb(250, 250, 250);
      color: rgb(32, 32, 32);
    }

    :global(a) {
      text-decoration: none;
      color: inherit;
    }

    .sheet {
      width: 100%;
      max-width: 60rem;
      background: white;
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.06);
    }

    header {
      width: 100%;
      background: rgba(250, 250, 250, 0.9);
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.06);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    header .title {
      display: flex;
      flex-direction: row;
      display: flex;
      align-items: center;
    }

    header .title img {
      width: 2.7rem;
      height: 2rem;
      opacity: 0.7;
      margin-right: 1rem;
    }

    @media (min-width: 60rem) {
      .hamburger {
        display: none;
        font-family: "Inter Variable", sans-serif;
      }

      header {
        position: fixed;
        height: 3rem;
        z-index: 1;
      }

      header .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      header .title {
        margin-left: 1rem;
        font-size: 2rem;
      }

      nav {
        flex-direction: row;
        margin-right: 1rem;
        display: flex;
      }

      nav a {
        margin-left: 1.5rem;
        font-size: 0.8rem;
      }

      .sheet {
        margin-top: 3rem;
        min-height: calc(100vh - 3rem);
      }
    }

    @media (max-width: 60rem) {
      .hamburger {
        border: none;
        background: none;
        font-size: 2rem;
        position: absolute;
        left: 1rem;
        top: 0.4rem;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 0.4rem;
        color: rgb(100, 100, 100);
        cursor: pointer;
      }

      nav.open {
        display: flex;
      }

      header {
        position: relative;
      }

      header .content {
        flex-direction: column;
        align-items: center;
      }

      header .title {
        font-size: 3rem;
      }

      nav {
        margin-top: 2rem;
        margin-bottom: 1rem;
        display: none;
        flex-direction: column;
        align-items: center;
      }

      nav a {
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }

      .sheet {
        min-height: 100vh;
      }
    }

    header .content {
      width: 100%;
      display: flex;
    }

    header .title {
      font-family: 'Micro 5', system-ui;
    }

    header .title mark {
      background: none;
      color: rgb(0, 100, 255);
    }

    nav {
      text-transform: uppercase;
    }

    nav a {
      font-weight: 800;
      color: rgb(80, 80, 80);
    }

    .sheet .content {
      max-width: 100%;
      padding: 1rem;
    }
  </style>
</html>
