---
import "@fontsource-variable/inter/wght.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="sheet">
      <header>
        <div class="title">I'm no critic</div>
        <div class="tagline">
          (Videogiochi, fumetti e altro, raccontati con parole semplici)
        </div>
      </header>
      <nav>
        <a href="/reviews">Recensioni</a>
        <a href="/news">Notizie</a>
        <a href="/about">Filosofia</a>
      </nav>
      <slot />
    </div>
  </body>
  <style>
    html {
      font-size: 18px;
    }

    body {
      font-family: "Inter Variable", sans-serif;
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgb(250, 250, 250);
      color: rgb(32, 32, 32);
    }

    :global(a) {
      text-decoration: none;
      color: rgb(32, 32, 32);
    }

    .sheet {
      width: 100%;
      max-width: 80ch;
      min-height: 100vh;
      background: white;
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.06);
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      padding: 1rem;
      background: rgb(250, 250, 250);
    }

    header .title {
      font-size: 1.5rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    header .tagline {
      font-size: 0.7rem;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-transform: uppercase;
      margin: 1rem;
      padding: 0.25rem;
      background: rgb(250, 250, 250);
    }

    nav a {
      font-size: 0.8rem;
      font-weight: 900;
    }
  </style>
</html>
